{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bootstrap 101 Template{% endblock %}</title>

    {% block stylesheets %}
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('css/full.css') }}" rel="stylesheet">
    {% endblock %}



    {% stylesheets 'bundles/chralpha/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>

{% block javascripts %}
    <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
    <script src="{{ asset('js/jquery.js') }}"></script>



    <script>
        $(document).ready(function(){
            $("#clickHairChoice").click(function(){
                $("#hairChoiceForm").toggle( "slow", function() {
                    // Animation complete.
                });
            });

            $("#clickInchStyleChoice").click(function(){
                $("#inchStyleChoiceForm").toggle( "slow", function() {
                    // Animation complete.
                });
            });

            $("#clickUploadPicture").click(function(){
                $("#uploadPictureForm").toggle( "slow", function() {
                    // Animation complete.
                });
            });

            $("#clickItemDetails").click(function(){
                $("#itemDetailsForm").toggle( "slow", function() {
                    // Animation complete.
                });
            });

            $("#clickAdPosition").click(function(){
                $("#adPositionForm").toggle( "slow", function() {
                    // Animation complete.
                });
            });

            $("#clickReviewAd").click(function(){
                $("#reviewAdForm").toggle( "slow", function() {
                    // Animation complete.
                });
            });

        });
    </script>


    <!-- Include all JavaScripts, compiled by Assetic -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}

<div id="content">
{% block body %}{% endblock %}
</div>

</body>
</html>